name: Generate CodeMeta Metadata

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  codemeta:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-plugins: 'poetry-dynamic-versioning'

      - name: Apply dynamic versioning
        run: |
          VERSION=$(poetry version -s)
          CLEAN_VERSION=$(echo "$VERSION" | sed -E 's/(\.post.*|\.dev.*)//g')
          echo "CLEAN_VERSION=$CLEAN_VERSION" >> $GITHUB_ENV

      - name: Generate codemeta.json using codemeta-harvester
        run: |
          docker run --user "$(id -u):$(id -g)" -v $(pwd):/data -e GITHUB_TOKEN=$GITHUB_TOKEN -e CLEAN_VERSION=$CLEAN_VERSION proycon/codemeta-harvester --regen --opts "--version $CLEAN_VERSION"

      - name: Commit & Push changes
        uses: actions-js/push@v1.5
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          message: ':label: Update project metadata [skip ci]'

      - name: Upload codemeta.json to GitHub Release
        if: github.event_name == 'release'
        run: gh release upload "${TAG_NAME}" codemeta.json
        env:
          GH_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ github.event.release.tag_name }}

  archive-project:
    name: Archive (Software Heritage)
    runs-on: ubuntu-latest
    if: github.event_name == 'release' || startsWith(github.head_ref, 'ci/')
    permissions:
      contents: read
    steps:
      - uses: sdruskat/swh-save-action@v1.0.1
