name: Documentation Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - uses: rokibhasansagar/slimhub_actions@v25.42.5
        with:
          retain: "vcs,pipx,toolcache_python,container_tools,docker_buildkit"

      - id: setup_python
        name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Poetry
        uses: abatilo/actions-poetry@v4

      - name: Install Dependencies
        run: poetry install --all-extras --with=docs

      - name: Build Documentation
        run: poetry run sphinx-build -M html docs _build -v
        env:
          TOKENIZERS_PARALLELISM: false
          TQDM_DISABLE: 1

      - name: Deploy (GitHub Pages)
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: _build/html
          force_orphan: true
